body{
   background-image: url('./pexels.JPEG');
}
/* #w{
    width:40%;
    height:500px;
    margin-left: 900px;
    

}
#r{
    width:40%;
    height:500px;
    margin: 0;

}
#t{
    width:100%;
    height:500px;
     */

}
